# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js / build
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# env — секрети не комітимо, шаблон комітимо
.env*
!.env.template

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
.idea
.vscode
